# https://help.github.com/articles/about-codeowners/

# Auto-include these teams/individuals on all PRs.
# * @kilasuit

pages/*  @kilasuit

docs/* @kilasuit

docs/IINs/kilasuit/*    @kilasuit
docs/DINs/kilasuit/*    @kilasuit
docs/FINs/kilasuit/*    @kilasuit


sessions/hour-1/*        @kilasuit,@Mhaslme-ry
sessions/hour-2/*        @kilasuit,@Mhaslme-ry
sessions/hour-3/*        @kilasuit,@Mhaslme-ry
sessions/hour-4/*        @kilasuit,@Mhaslme-ry
sessions/hour-5/*        @kilasuit,@Mhaslme-ry
sessions/hour-6/*        @kilasuit,@Mhaslme-ry
sessions/hour-7/*        @kilasuit,@Mhaslme-ry
sessions/hour-8/*        @kilasuit,@Mhaslme-ry
sessions/hour-9/*        @kilasuit,@Mhaslme-ry
sessions/hour-10/*        @kilasuit,@Mhaslme-ry
sessions/hour-11/*        @kilasuit,@Mhaslme-ry
sessions/hour-12/*        @kilasuit,@Mhaslme-ry
sessions/hour-13/*        @kilasuit,@Mhaslme-ry
sessions/hour-14/*        @kilasuit,@Mhaslme-ry
sessions/hour-15/*        @kilasuit,@Mhaslme-ry
sessions/hour-16/*        @kilasuit,@Mhaslme-ry
sessions/hour-17/*        @kilasuit,@Mhaslme-ry,@Mynster9361
sessions/hour-18/*        @kilasuit,@Mhaslme-ry
sessions/hour-19/*        @kilasuit,@Mhaslme-ry
sessions/hour-20/*        @kilasuit,@Mhaslme-ry
sessions/hour-21/*        @kilasuit,@Mhaslme-ry
sessions/hour-22/*        @kilasuit,@Mhaslme-ry
sessions/hour-23/*        @kilasuit,@Mhaslme-ry
sessions/hour-24/*        @kilasuit,@Mhaslme-ry
sessions/hour-25/*        @kilasuit,@Mhaslme-ry
sessions/hour-26/*        @kilasuit,@Mhaslme-ry
sessions/hour-27/*        @kilasuit,@Mhaslme-ry
sessions/hour-28/*        @kilasuit,@Mhaslme-ry
sessions/hour-29/*        @kilasuit,@Mhaslme-ry
sessions/hour-30/*        @kilasuit,@Mhaslme-ry
sessions/hour-31/*        @kilasuit,@Mhaslme-ry
sessions/hour-32/*        @kilasuit,@Mhaslme-ry
sessions/hour-33/*        @kilasuit,@Mhaslme-ry
sessions/hour-34/*        @kilasuit,@Mhaslme-ry
sessions/hour-35/*        @kilasuit,@Mhaslme-ry
sessions/hour-36/*        @kilasuit,@Mhaslme-ry
sessions/hour-37/*        @kilasuit,@Mhaslme-ry
sessions/hour-38/*        @kilasuit,@Mhaslme-ry
sessions/hour-39/*        @kilasuit,@Mhaslme-ry
<!-- #@org/maintainers -->
